params {
	reference_vcfs = "1000G_GRCh37_phase3/Reference/ALL.chr*.1000G.phase3.GRCh37.reference.bcf"
	reference_sites_vcfs = "1000G_GRCh37_phase3/Reference/ALL.chr*.1000G.phase3.GRCh37.reference.sites.vcf.gz"

	study_bams = "/path/to/study/bam_or_cram_files/*.cram"

        referenceDir = "/path/to/referenceGenome/folder"
        referenceGenome = "<filename>.fa"
        gatkContainer = "/path/to/gatk.sif"

	window_size = 2000000
	buffer_size = 200000
	chunk_exec = "GLIMPSE/bin/GLIMPSE_chunk"
	phase_exec = "GLIMPSE/bin/GLIMPSE_phase"
	ligate_exec = "GLIMPSE/bin/GLIMPSE_ligate"
	glimpse_maps = "GLIMPSE/maps/genetic_maps.b37/"
}

apptainer {
	enabled = true
	autoMounts = true
}

process {
	executor = "slurm"
	// cluster allocation account name
	//clusterOptions = "--account="
	//executor = "local"
	cpus = 1
	time = "12h"
	memory = "4GB"
}

executor {
	$slurm {
		queueSize = 1000
		jobName = { "imputation" }
	}
	$local {
		cpus = 1
	}
}
