params {
	reference_vcfs = "/path/to/phased/reference/genotypes/hgdp1kgp_chr*.{bcf,vcf}*" // VCF/BCF files with phased reference genotypes  and their tbi/csi indices. The phased reference genotypes must be split by chromosome and prefixed with: chr1., chr2., ..., chr22., chrX_nonpar., chrX_par1., chrX_par2.
	reference_sites_vcfs = "/lustre06/project/6061810/shared/HGDP_1KG_phased/hgdp1kgp_chr*.sites.vcf.gz*" // VCF files with reference sites (no genotypes) and tbi indices. Must be split by chromosome in a similar way as the phased genotypes.
	
	study_bams = "/path/to/study/bam_or_cram_files/*.{bam,cram}*" // BAM/CRAM files for study samples (one per sample) and the corresponing bai/crai indices.
	
	// If you don't plan to impute chromosome X, then you can ignore this argument
	study_sample_ploidy = "/path/to/study/chrX_ploidy.txt" // Text file listing sample ploidy in chromosome X. No header; space-delimited; one sample per line; two columns - sample name and number of chrX copies (1 or 2). You can estimate the ploidy of chromosome X from chromosome X sequencing depth.


        referenceDir = "/path/to/referenceGenome/folder"
        referenceGenome = "<filename>.fa"
        gatkContainer = "/path/to/gatk.sif"

	window_size = 2000000
	buffer_size = 200000
	chunk_exec = "/path/to/GLIMPSE/bin/GLIMPSE_chunk"
	phase_exec = "/path/to/GLIMPSE/bin/GLIMPSE_phase"
	ligate_exec = "/path/to/GLIMPSE/bin/GLIMPSE_ligate"
	glimpse_maps = "/path/to/GLIMPSE/maps/genetic_maps.b38/"
}

apptainer {
	enabled = true
	autoMounts = true
}

process {
	executor = "slurm"
	// cluster allocation account name
	//clusterOptions = "--account="
	//executor = "local"
	cpus = 1
	time = "12h"
	memory = "4GB"
}

executor {
	$slurm {
		queueSize = 1000
		jobName = { "imputation" }
	}
	$local {
		cpus = 1
	}
}
