params {
	study_vcf = "NA24385_Son/NA24385_Son_2_wgs/NA24385_Son_2.hc.vcf.gz"
	reference_vcfs = "1000G_GRCh37_phase3/Reference/ALL.chr*.1000G.phase3.GRCh37.reference.bcf"
	reference_sites_vcfs = "1000G_GRCh37_phase3/Reference/ALL.chr*.1000G.phase3.GRCh37.reference.sites.vcf.gz"
	window_size = 2000000
	buffer_size = 200000
	chunk_exec = "GLIMPSE/bin/GLIMPSE_chunk"
	phase_exec = "GLIMPSE/bin/GLIMPSE_phase"
	ligate_exec = "GLIMPSE/bin/GLIMPSE_ligate"
	glimpse_maps = "GLIMPSE/maps/genetic_maps.b37/"
	concatenate = true
}

process {
	executor = "slurm"
	//executor = "local"
	cpus = 1
	time = "12h"
	memory = "4GB"
}

executor {
	$slurm {
		queueSize = 1000
		jobName = { "imputation" }
	}
	$local {
		cpus = 1
	}
}
